.body {
    overflow-wrap: break-word;
    min-height: 86vh;
}

.h1,
.h3 {
    background: #6c757d;
    background: -webkit-linear-gradient(to right, #6c757d 0%, #17a2b8 100%);
    background: -moz-linear-gradient(to right, #6c757d 0%, #17a2b8 100%);
    background: linear-gradient(to right, #6c757d 0%, #17a2b8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.note {
    padding-left: 5rem;
    padding-right: 5rem;
}

.noteH1 {
    display: inline
}

@media screen and (max-width: 700px) {
    .note {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (min-width: 450px) and (max-width: 699px) {

    .h1,
    .h3 {
        font-size: 150%;
    }
}

@media screen and (max-width: 450px) {

    .h1,
    .h3 {
        font-size: 120%;
    }
}

.doodle {
    position: fixed;
    z-index: -999;
}

.myContainer {
    position: relative;
    overflow: hidden;
}

.myContainer span {
    z-index: 2;
    position: relative;
}

.myContainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
    pointer-events: none;
    /* left: 0;
top: 0;
width: 100%;
height: auto; */
    z-index: 1;
    opacity: 0.4;
}

.textCenter {
    text-align: center
}

.logoDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vectorImage {
    margin-left: 15px;
    margin-right: 20px
}

.floatRight {
    float: right
}

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* body {
  line-height: 2;
}  */

.accordion {
    font-size: 1.3rem;
    width: 90vw;
    margin: 0 auto;
    border-radius: 5px;
}

.accordionHeader,
.accordionBody {
    background: white;
}

.accordionHeader {
    padding: 1.45em 1.45em;
    background: #4C4E50;
    /*      #3F51B5;*/
    color: white;
    cursor: pointer;
    font-size: .7em;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
}

.accordion__item {
    border-bottom: 1px solid white;
    /*        #3a4ba4;*/
}

.accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordionHeader:hover {
    background: #272829;
    position: relative;
    z-index: 5;
}



.accordionBody {
    background: #fcfcfc;
    color: #353535;
    display: none;
}

.accordionBody__contents {
    padding: 1.5em 1.5em;
    font-size: .70em;
    background-image: url("/img/viitlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170px 170px;
}

.accordion__item.active:last-child .accordionHeader {
    border-radius: none;
}

.accordion:first-child>.accordion__item>.accordionHeader {
    border-bottom: 1px solid transparent;
}

.fas {
    float: right;
}

.accordion__item.active .accordionHeader {
    background: #272829;
}

.accordion__item .accordion__item .accordionHeader {
    background: #f1f1f1;
    color: #353535;
}

@media screen and (max-width: 1000px) {
    .body {
        padding: 1em;
    }

    .accordion {
        width: 100%;
    }
}